@media (prefers-color-scheme: dark) {
    body {
        background-color: $vdark;
        color: $white;

        a {
            color: $white;
            text-decoration-color: lighten($dark, 20%);
        }

        .c-article {

            code {
                background-color: $dark;
            }

            p, li {
                a:hover {
                    text-decoration-color: $color;
                }
            }
        }

        .c1 {
            color: #999;
        }
    }
}
