@media (prefers-color-scheme: dark) {
    body {
        background-color: darken($color, 8%);
        color: lighten($color, 55%);

        a {
            color: lighten($color, 55%);
        }

        .c-article {

            pre code {
                background-color: darken($color, 8%);
            }

            p, li {
                a {
                    text-decoration-color: lighten($color, 8%);
                }

                a:hover {
                    text-decoration-color: #1EB2F1;
                }
            }

        }

        .c1 {
            color: lighten($color, 20%);
        }

        .c-site-footer {
            p:first-child {
                border-top-color: lighten($color, 8%);
            }
        }
    }
}
